.body{
    padding:  auto;
    margin: 0%;
    
}

.cabeçalho{

    background-color: rgb(246, 243, 242);
    margin: 5%;
    padding: 10px;
    text-align: center;
}

.informações{

background-color: khaki;
margin: 16px;
padding: 10px;
text-align: center;
}

.informações-titulo{
text-align: center;
}

.informações-imagens{
text-align: center;
width: 45%;
}

.informações-texto{
    text-align: justify;
}

.informações-2{
    background-color: darkgoldenrod;
    margin: 16px;
    padding: 10px;
}

.informações-2-titulo-1{
    text-align: justify;
    text-align: center;

}

.informações-2-titulo-2{
    text-align: justify;
    text-align: center;
}

.informações-2-texto-1{
    text-align: justify;
    text-align: center;
}

.informações-2-texto-2{
    text-align: justify;
    text-align: center;
}